.main-content-container {
  margin-top: 65px;
}

span[data-bmb-folder-icon-expanded="1"] {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

span[data-bmb-folder-icon-expanded="0"] {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

[data-bmb-expanded="0"] {
  display: none;
}

[data-bmb-expanded="1"] {
  display: block;
}

.bookmarks-list-container {
  max-height: 65vh;
  overflow-y: scroll;
}

.word-break-all {
  word-break: break-all;
}

.overscroll-none {
  overscroll-behavior: none;
}

.overscroll-contain {
  overscroll-behavior: contain;
}

.max-h-50vh {
  max-height: 50vh;
}

.max-h-40vh {
  max-height: 40vh;
}

.h-90pct {
  height: 90%;
}

.w-98pct {
  width: 98%;
}
