.main-content-container {
  margin-top: 65px;
}

span[data-bmb-folder-icon-expanded="1"] {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

span[data-bmb-folder-icon-expanded="0"] {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

[data-bmb-expanded="0"] {
  display: none;
}

[data-bmb-expanded="1"] {
  display: block;
}

.bookmarks-list-container {
  height: 70vh;
  overflow-y: scroll;
}

.word-break-all {
  word-break: break-all;
}
